<div class="container">
    <div class="article">
        <div class="name text">Sandy Ruiz</div>
        <div class="principal flex">
            <div class="figure">
                <div class="picture"></div>
                <figcaption class="figcaption"><p>Desarrollo Web FullStack</p></figcaption>
            </div>
            <div class="break-normal sm text">
                <p>Soy estudiante de Desarrollo Web FullStack en la Universidad EAFIT y vivo en Apartadó, Antioquia.</p>
            </div>
        </div>
        <div class="section recents-works text">
            <h2 class="sm">Trabajos de clase</h2>
            <ul class="li"><span>23.12.2022</span><span class="ocult">></span><a href="https://github.com/DahianaRH/CV.git" class="text">Curriculim vitae con HTML y CSS</a></ul>
            <ul class="li"><span>27.12.2022</span><span class="ocult">></span><a href="https://github.com/DahianaRH/ToDo-app.git" class="text">Aplicacación To Do con HTML, CSS y JS</a></ul>
            <ul class="li"><span>27.12.2022</span><span class="ocult">></span><a href="https://github.com/DahianaRH/snake.git" class="text">Juego Clásico Snake con HTML, CSS y JS</a></ul>
            <ul class="li"><span>12.01.2023</span><span class="ocult">></span><a href="https://github.com/DahianaRH/Tamagotchi-.git" class="text">Juego Clásico Tamagotchi con HTML, CSS y JS</a></ul>
            <ul class="li"><span>26.01.2023</span><span class="ocult">></span><a href="https://github.com/AltairCGS/IMBd.git" class="text">Ejemplo My IMDB con Angular</a></ul>
        </div>
    </div>

</div>
